:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 150px;
}

.app-container {
  display: flex;
  justify-content: space-between;
}

.cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  margin-right: 100px;
}