:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.info-inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 150px;
}

input {
  border-radius: 8px;
  border-color: #fff;
  border-top: #fff;
  border-left: #fff;
  height: 25px;
  padding-left: 10px;

}

.app-container {
  display: flex;
  justify-content: space-between;
}

.cv {
  width: 750px;
  height: 100vh;
  padding-top: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  margin-right: 100px;
  box-sizing: border-box;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-divider {
  border: none;               /* remove default hr border */
  height: 1px;                /* thin line */
  background-color: #fff;     /* line color */
  width: 700px;                /* fill the container */
  margin: 0 auto;                  /* remove outside spacing */
  padding: 0;                 /* remove inside spacing */
  box-sizing: border-box;
}

.top-name, .generalInfo {
  max-height: 8px;
}

.left {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 80px 300px;
  place-items: center;
  gap: 20px;
}

.app-name {
  grid-column: 1 / 3;
  width: 300px;
  display: flex;
  justify-content: center;
  border-style: solid;
  border-top: #242424;
  border-right: #242424;
  border-left: #242424;

}

p {
  margin: 0;
}

.education-body {
  display: flex;
  justify-content: space-between;
}

.education-section {
  padding-left: 0; /* remove container padding */
}

.education-left,
.education-header {
  padding-left: 30px; /* keep text indented but not the divider */
}

.education-right {
  padding-right: 30px;
  margin: 0;
}

.education-header {
  padding-top: 8px;
}

